/* Navheader.css */
.header {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
  }
  
  .address_line,
  .time_line,
  .phone_line,
  .mail_line {
    display: inline-flex;
  }
  
  .address,
  .time,
  .phone,
  .mail {
    margin-left: 8px;
  }
  
  .spacing {
    width: 30%;
  }



@media screen and (max-width: 1150px) {

    .header {
        display: none;
    }

}



