/* Navheader.css */
.nav-header {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    background-color: var(--color--background);
    border-bottom: 0.5px solid white;
  }
  
  .address_line,
  .time_line,
  .phone_line,
  .mail_line {
    display: inline-flex;
    color: white;
  }
  
  .address,
  .time,
  .phone,
  .mail {
    margin-left: 8px;
    font-family: var(--font-base);
    font-size: 18px;
  }
  
  .spacing {
    width: 30%;
  }

  .divider {
    color: white;
  }


@media screen and (max-width: 1150px) {

    .nav-header {
        display: none;
    }

}