<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tawa Grill</title>
    <meta name="title" content="Tawa Grill">
    <meta name="description" content="Website for Tawa Grill">
    <!-- Links -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="static\css\styles.css">
</head>
<body>

    <!-- Preloader -->
    <div class="preload" data-preload>
        <p class="text">Tawa Grill.</p>
        <div class="loader"></div>
    </div>

    <!-- Top Bar -->
    <div class="navbar"> 
        <div class="container">
            <address class="navbar_item">
                <span class="span">
                    1496 Lower Water Street, Halifax, Nova Scotia, CA
                </span>
                <div class="separator"></div>

                <a href="tel: (902)-422-0077" class="navbar_item">
                    <div class="phone_icon">
                        <ion-icon name="call-outline"></ion-icon>
                    </div>
                    <span class="span">(902)-422-0077</span>
                </a>


            </address>
        </div>
    </div>


    <!-- Java Script -->
    <script src="static\js\script.js"></script>
    <!--Icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>