<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tawa Grill</title>
    <meta name="title" content="Tawa Grill">
    <meta name="description" content="Website for Tawa Grill">
    <!-- Links -->
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Forum&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" href="static\css\styles.css">
</head>
<body>

    <!-- Preloader -->
    <div class="preload" data-preload>
        <p class="text">Tawa Grill.</p>
        <div class="loader"></div>
    </div>

    <!-- Info -->
    <div class="info"> 
        <div class="container">

            <!--Address-->
            <address class="info_item">    
                <span class="span">1496 Lower Water Street, Halifax, Nova Scotia, CA</span>
            </address>
            
            <div class="separator"></div>
            
            <!--Telephone-->
            <a href="tel: (902)-422-0077" class="info_item">
                <div class="phone_icon">
                    <ion-icon name="call-outline"></ion-icon>
                </div>
                <span class="span">(902)-422-0077</span>
            </a>

            <div class="separator"></div>
            
            <!--Email-->
            <a href="mailto: tawagrillhalifax@gmail.com" class="info_item">
                <div class="mail_icon">
                    <ion-icon name="mail-outline"></ion-icon>
                </div>
                <span class="span">tawagrillhalifax@gmail.com</span>
            </a>
        </div>
    </div>

    <!-- Header -->
    <header class="header" data-header>
        <div class="container">
            
            <nav class="navbar" data-nav>

                <button class="close" data-nav-toggle>
                    <ion-icon name="close-outline"></ion-icon>
                </button>

                <ul class="navbar-list">

                    <li class="navbar-item">
                        <a href="/" class="navbar-link hover-underline active">
                            <span class="span">Home</span>
                        </a>
                    </li>


                    <li class="navbar-item">
                        <a href="/" class="navbar-link hover-underline active">
                            <span class="span">Menu</span>
                        </a>
                    </li>


                    <li class="navbar-item">
                        <a href="/" class="navbar-link hover-underline active">
                            <span class="span">About us</span>
                        </a>
                    </li>


                    <li class="navbar-item">
                        <a href="/" class="navbar-link hover-underline active">
                            <span class="span">Contact</span>
                        </a>
                    </li>
                </ul>

                <div class="text-center">
                    <p class="headline-1 navbar-title">Visit Us</p>
                    <address class="body-4">1496 Lower Water Street, Halifax, Nova Scotia, CA</address>

                    <a href="mailto:tawagrillhalifax@gmail.com" class="mailto sidebar-link">tawagrillhalifax@gmail.com</a>

                    <p class="booking-label">Booking Request</p>

                    <a href="tel:(902)-422-0077" class="body-1 contact-number hover-underline">(902)-422-0077</a>
                </div>
            </nav>

            <a href="/" class="btn btn-secondary">
                <span class="text text-1">Find a table</span>
            </a>

            <button class="nav-open-btn" data-nav-toggler>
                <ion-icon name="menu-outline"></ion-icon>
            </button>

            <div class="overlay" data-nav-toggler data-overlay></div>

        </div>
    </header>



    <!-- Java Script -->
    <script src="static\js\script.js"></script>
    <!--Icons-->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>