.about_us {
    background-color: var(--color--background);
    display: flex;
    height: 60vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.image_div {
    width: 40%;
}

.text_div {
    width: 60%;
    padding-left: 6rem;
    padding-right: 6rem;
}

.image {
    width: 100%;
}

.about_us_header {

    margin-bottom: 5rem;
}


.about_us_header_text{
    color: white;
    margin-bottom: 2rem;
}