.about_us {
    background-color: white;
    height: 80vh;
    padding: 2rem 2rem 2rem 2rem;
}

.about_us_content {
    padding: 4rem 9rem 4rem 9rem;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
}

.about_us_text {
    height: 100%;
    width: 20%;
}

.our_story_text {
    margin-bottom: 25px;
}

.about_us_header {
    margin-bottom: 25px;
}

.about_us_p1 {
    margin-bottom: 25px;
}

.image_1_div {
    margin-top: 15%;
    height: 100%;
    width: 30%;
}

.image_2_div {
    height: 100%;
    width: 30%;
}