.header {
    background-color: var(--color--background);
    height: 100vh;

}

.header-h1 {
    font-family: var(--font-base);
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
    font-size: 85px;
    padding-bottom: 5%;
}

.header-img img {
    width: 80%;
}

